<h1>Bulk Discount Show Page</h1>


<h3><%= @bulk_discount.name %></h3>

<p>Quantity: <%= @bulk_discount.quantity_threshold %></p>
<p>Discount: <%= @bulk_discount.percentage_discount %>%</p>

<p><%= link_to "Edit #{@bulk_discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}/edit" %>